@import url(https://fonts.googleapis.com/css?family=Lato:400,300,100);
@import url(https://fonts.googleapis.com/css?family=Alike+Angular);

body {
	width: 100%;
	font-family: Lato, 'Helvetica Neue', 'Calibri Light', 'Calibri', sans-serif;
	font-weight: 300;
	font-size: 18px;
}

h1{
  font-size: 32px;
  text-align: center;
  margin: 30px;
}

h3 {
	text-align: center;
	font-size: 26px;
}


.technology {
	text-align: center;
	font-size: 18px;
}

.index-body {
  text-align: center;
}

ul {
	list-style: none;
}

li {
  margin-right: 30px;
  display: inline;
	text-align: center;
}

nav {
	position: fixed;
	top: 0;
	background-color: #FFFFFF;
	color: #000000;
	width: 100%;
	line-height: 1em;
}

nav, .portfolio-image {
	box-shadow: 10px 10px 5px #CCCCCC;
}

#brand {
	border: 0;
	float: left;
	height: 100px;
	margin-left: 5%;
	margin-top: 0;
}

#home {
	margin-top: 0;
	padding-top: 250px;
	height: 1100px;
	background-image: url(/northern_lights.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	color: #FFFFFF;
}

#greeting {
	font-size: 70px;
	font-weight: 100;
}

#explanation {
	font-size: 32px;
	font-weight: 100;
}

#about {
	height: 500px;
	margin-top: 70px;
	background-image: url(/chris.jpg);
	background-repeat: no-repeat;
	background-size: 500px;
	background-position: right center;
}

.about-me {
	text-align: left;
	margin-top: 50px;
	margin-left: 100px;
	width: 50%;
}

#about-block {
	margin-top: 100px;
}

#portfolio {
	background-color: #FFFFFF;
	color: #000000;
	margin-top: 430px;
}

#portfolio-spread {
	margin-left: 5%;
}

.portfolio-image {
	width: 100%;
}

.btn.btn-info.btn-lg {
	color: #000000;
	background-color: #FFFFFF;
	border: 1px solid #000000;
	border-radius: 0;
	margin-top: 0;
}

.nav-list {
	float: right;
	margin-right: 5%;
	margin-top: 40px;
}

.navbar-link {
	color: #000000;
	margin-left: 20px;
	margin-right: 0;
	font-size: 22px;
	font-weight: 300;
}

.navbar-link:hover{
	text-decoration: none;
	color: #000000;
}

.portfolio-link {
	color: #000000;
	font-size: 18px;
	font-weight: bold;
}

.portfolio-piece {
	font-size: 16px;
	text-align: center;
  margin-bottom: 100px;
	float: left;
	width: 30%;
	margin-right: 2.5%;
}

.portfolio-description {
	font-weight: 400;
	margin-top: 20px;
}

.more-info {
	margin: 30px;
	font-weight: 400;
}

.portfolio-title {
	font-weight: 300;
	margin-bottom: 20px;
}

#contact {
	margin-top: 1000px;
	padding-top: 2px;
	height: 1000px;
	background-color: #50A6C2;
	color: #000000;
}

#contact-images {
	margin-top: 30px;
}

#contact-text {
	margin-top: 100px;
}

#email {
	margin-top: 100px;
	font-size: 26px;
	font-weight: 100px;
}

.logo {
	margin: 40px;
}

#github {
	width: 120px;
}
